@import "compass";
@import "susy";

$font-mono: "courier new", monospace;

pre,
code {
	font-family: $font-mono;
}
pre {
	background-color: #b3e4eb;
	padding: 7px;
	white-space: pre;
}
header {
	position: fixed;
	@include span(1 of 4);
}
article {
	@include span(last 3 of 4);
}