{% assign navurl = theocratic.url | remove: 'index.html' %}


{% if page.url == '/theocratic/improvingskills/' %}
{% endif %}
<br />
{% for item in include.theonav %}
        <a href="{{ item.url }}" class="page-link">
            {% if item.url == navurl %}
                <b>{{ item.text }}</b>
            {% else %}
                {{ item.text }}
            {% endif %}
        </a>
    {% if item.subitems and navurl contains item.url %}
        {% include nav.html nav=item.subitems %}
    {% endif %}
{% endfor %}

