---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';
import { SIDEBAR_ITEMS } from '../site_config';

const CODE = `# Clone the repository
git clone https://github.com/TheOtterlord/manual
# Navigate to the directory
cd manual
# Install dependencies
npm install
# Start the dev server
npm run dev`
---

<Layout title="mikebrew.github.io">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Docs</h1>
        <p class="text-2xl my-8">
          Personal research and information on various topics.
        </p>
        <a href="/docs/get-started/introduction" class="inline-block bg-blue-600 hover:bg-blue-800 text-white text-lg font-bold py-2 px-4 rounded">
          Read the docs
        </a>
      </div>
      <!-- <div class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-green-500">
        <Code code={CODE} lang="sh"/>
      </div> -->
    </div>


	</main>
</Layout>
