---
const { headers } = Astro.props;
---

<ul class="flex flex-col gap-4 mt-24">
  yo
  {
    headers.map(({ slug, text }) => {
      return (
        <li class="text-slate-400 hover:text-slate-800">
          #<a href={`#${slug}`}>{text}</a>
        </li>
      );
    })
  }
</ul>
